@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Freckle Face", cursive;
}
:root {
  color-scheme: light dark;
  color: #d0d0d0;
  background-color: #000;
  letter-spacing: 0.05rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
}

*::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #1c1c1c;
}
*::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 0.4rem;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.cp {
  cursor: pointer;
}

.p-r {
  position: relative;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.ls-1 {
  letter-spacing: 1px;
}

.p-h-5 {
  padding: 0 5px;
}

.p-h-10 {
  padding: 0 10px;
}

.p-v-5 {
  padding: 5px 0;
}

.p-v-10 {
  padding: 10px 0;
}

.mt-10 {
  margin-top: 10px;
}
